body {
	background: black;
}

#video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	left: 50vw;
	transform: translateX(-50%);
}
#clickdetector {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: pointer;
}
#jumpscareVideo {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	left: 50vw;
	transform: translateX(-50%);
}
.jumpscareHide {
	display: none;
}
